# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. List popular languages for Data Science
2. List commonly used libraries used by Data Scientists
3. List Data Science Tools
4. Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. VBA

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Keras

---
Data Science Tools

---
RStudio

---
Apache Spark

---
TensorFlow


---
Apache Hadoop

---

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
round(200/60, 2)

3.33

## Author
Aderonmu Yetunde